*.dvi
*.toc
*.toa
*.aux
*.log
*.swp
*.snm
*.nav
*.out
current
current.pdf
last
out.pdf
body.pdf
cover.pdf
.sass-cache
*.4ct
*.4tc
*.idv
*.lg
*.tmp
*.xdv
*.xref
*.synctex.gz
.DS_Store
*.lof
~$*.odt
~$*.doc
~$*.docx
*.glo
*.idx
*.bcf
*.run.xml
